<h1>Buscador de Palabras Mágicas!</h1>
<div>
<label for="size_1">Texto</label>
<textArea id="text1" placeholder="ingrese su texto a verificar"> </textArea>
<br>
<br>
<button onclick="FindWords()" id="btn1" > Verificar </button>
<br>
<br>
</div>
<div id="numeroPalabras">   </div>
<br>
<div id="PalabrasMagicas">  </div>
